.cd-section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    left: 0;
  }

  &-content,
  &-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    position: relative;
    z-index: 10;
  }

  &-subtitle {
    @include set-bg($black);
    font-size: 1.6rem;
    font-weight: normal;
    font-family: $font-stack;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
    margin-bottom: 3rem;
  }

  @include media("tablet") {
    &-subtitle {
      font-size: 2.5rem;
    }
  }
}

.hero {
  @include set-img-bg("../img/cd-bg/1.jpg");
}

.portfolio {
  @include set-img-bg("../img/cd-bg/2.jpg");
}

.about-home {
  @include set-img-bg("../img/cd-bg/3.jpg");
}
.blog {
  @include set-img-bg("../img/cd-bg/4.jpg");
  background-position: 45% center;
}
.contact {
  @include set-img-bg("../img/cd-bg/5.jpg");
}

/*
.section-nav {
  display: none;
  position: fixed;
  top: 50%;
  right: 4rem;
  z-index: 500;

  &-controll {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    @include set-bg($main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color $t-time linear;

    &:first-child {
      margin-bottom: 2rem;
    }

    &:hover {
      background: $black;
    }
  }

  @include media("tablet") {
    display: block;
  }
}
*/

.section-nav {
  width: 6rem;
  height: 40rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  z-index: 500;

  &:hover {
    &::before,
    &::after {
      transform: translateX(6rem);
    }

    & .section-nav-controll {
      transform: translateX(0);
    }
  }

  &::before,
  &::after {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: $white;
    position: absolute;
    top: calc(50% - .5rem);
    left: calc(50% - .5rem);
    transition: transform $t-time-2 ease-in-out;
  }

  &::after {
    top: calc(50% + 2rem);
  }


  &-controll {
    width: 3rem;
    height: 3rem;
    //border-radius: 50%;
    //background: $white;
    position: relative;
    transform: translate(6rem);
    transition: transform $t-time-2 ease-in-out 100ms;

    &:hover {
      span {
        transform: translateX(0) translateY(-50%);
        opacity: 1;
      }
    }

    &::before {
      content: "";
      width: 1rem;
      height: 1rem;
      background: $white;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    span {
      color: #fff;
      font-size: 1.6rem;
      white-space: nowrap;
      text-transform: capitalize;
      text-align: right;
      margin-right: 2rem;
      position: absolute;
      top: 50%;
      right: 100%;
      opacity: 0;
      transform: translateX(-2rem) translateY(-50%);
      transition: transform $t-time ease-in-out, opacity $t-time linear;
    }
  }

  @include media("pc") {
    display: flex;
  }
}