.cd-section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    left: 0;
  }

  &-content,
  &-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    position: relative;
    z-index: 10;
  }

  &-subtitle {
    @include set-bg($black);
    font-size: 1.6rem;
    font-weight: normal;
    font-family: $font-stack;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
    margin-bottom: 3rem;
  }

  @include media("tablet") {
    &-subtitle {
      font-size: 2.5rem;
    }
  }
}

.hero {
  @include set-img-bg("../img/cd-bg/1.jpg");
}

.portfolio {
  @include set-img-bg("../img/cd-bg/2.jpg");
}

.about-home {
  @include set-img-bg("../img/cd-bg/3.jpg");
}
.blog {
  @include set-img-bg("../img/cd-bg/4.jpg");
  background-position: 45% center;
}
.contact {
  @include set-img-bg("../img/cd-bg/5.jpg");
}


.section-nav {
  display: none;
  position: fixed;
  top: 50%;
  right: 4rem;
  z-index: 500;

  &-controll {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    @include set-bg($main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color $t-time linear;

    &:first-child {
      margin-bottom: 2rem;
    }

    &:hover {
      background: $black;
    }
  }

  @include media("tablet") {
    display: block;
  }
}
