.preloader {
  width: 100%;
  height: 100vh;
  text-align: center;
  background: $black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;

  &-text {
    //color: #fff;
    font-size: 6rem;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:nth-child(1) {
      color: transparent;
      -webkit-text-stroke: 0.2rem $main-color;
    }
    &:nth-child(2) {
      color: $main-color;
      animation: fill 4s ease-in-out infinite;
    }
  }
}

@keyframes fill {
  0%,
  100% {
    clip-path: polygon(
      0% 51%,
      15% 48%,
      31% 51%,
      46% 61%,
      66% 75%,
      88% 71%,
      100% 55%,
      100% 100%,
      0 100%
    );
  }
  50% {
    clip-path: polygon(
      0 64%,
      21% 70%,
      50% 52%,
      69% 50%,
      82% 59%,
      96% 56%,
      100% 77%,
      100% 100%,
      0 100%
    );
  }
}
