$black: #110e0c;
$white: #fff;
$main-color: #cfa144;
$main-color-alpha: rgba(207, 161, 68, 0.8);

$max-width: 1200px;
$nav-height: 6rem;

$t-time: 250ms;
$t-time-2: 500ms;

// Fonts
$font-stack: "Inconsolata", "Roboto", Arial, Helvetica, sans-serif;
$secondary-font-stack: "Courgette", "Roboto", Arial, Helvetica, sans-serif;
$third-font-stack: "Roboto", Arial, Helvetica, sans-serif;


$tablet: 768px;
$pc: 800px;