$black: #110e0c;
$white: #fff;
$main-color: #cfa144;

$max-width: 1200px;
$nav-height: 6rem;

$t-time: 250ms;

// Fonts
$font-stack: "Inconsolata", "Roboto", Arial, Helvetica, sans-serif;
$secondary-font-stack: "Courgette", "Roboto", Arial, Helvetica, sans-serif;
