.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 2rem;
}

// Text
.title {
  font-size: 3rem;
  text-transform: capitalize;
  text-shadow: 0.2rem 0 0.3rem rgba(0, 0, 0, 0.4);
  text-align: center;
}

.lead {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
}

.page-title {
  font-size: 3.5rem;
  font-weight: normal;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  text-align: center;
}

.page-subtitle {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3rem;
  margin-bottom: 2rem;
}

.m-top {
  margin-top: $nav-height;
}
