.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 2rem;
}

// Text
.title {
  font-size: 3rem;
  text-transform: capitalize;
  //text-shadow: 0.2rem 0 0.3rem rgba(0, 0, 0, 0.4);
  text-align: center;
}

.lead {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
}

.page-title {
  font-size: 3.5rem;
  font-weight: normal;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  text-align: center;
  //margin-top: 4rem;
}

.page-subtitle {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3rem;
  opacity: .8;
  margin-bottom: 8rem;
}

.p-top {
  padding-top: $nav-height + 14rem;
}

// BGs
.bg-black {
  @include set-bg($black);
}


.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3.5rem;
}

.flex {
  display: flex;
  flex-direction: column;

  &-left {
    min-width: 0;
   
  }
}

@include media("tablet") {
  .container {
    padding: 0 3rem;
  }
  .title {
    font-size: 5rem;
  }
  .lead {
    font-size: 2.5rem;
  }
  .page-title {
    font-size: 4.5rem;
  }
  .page-subtitle {
    font-size: 2.5rem;
  }
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .flex {
    flex-direction: row;
    align-items: center;
    &-left {
      width: 50%;
    }
    &-right {
      height: 100%;
      width: 50%;
    }
  }
}