*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  //cursor: none;

  
}

body {
  min-height: 100vh;
  @include set-bg($white);
  font-size: 1.6rem;
  font-family: $font-stack;
}

section {
  padding-bottom: 2rem;
}

h1,
h2,
h3,
h4 {
  font-family: $secondary-font-stack;
  line-height: 1.2;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;

  
}

img {
  width: 100%;
}
